<div class="businesses-new-contents">
  <header class="businesses-new-header">
  <%= link_to image_tag("logo.png", class: :logo, size: '160x60'), "/" %>
  </header>

  <div class="businesses-new-main">
    <h2 class="businesses-new-title">情報を入力してね！</h2>
    <%= form_with model: @business, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 仕事体験紹介画像%>
    <div class="img-upload">
      <div class="weight-bold-text">
        職場体験画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"business-image" %>
      </div>
    </div>
    <%# /仕事体験紹介画像%>
    <%# 仕事名と内容紹介%>
    <div class="new-businesses">
      <div class="weight-bold-text">
        会社名
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :company, class:"businesses-text", id:"company-name", placeholder:"会社名 屋号（必須)", maxlength:"40" %>
      <div class="weight-bold-text">
        職場体験名
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :name, class:"businesses-text", id:"business-name", placeholder:"職場体験名（必須 40文字まで)", maxlength:"40" %>
      <div class="businesses-explain">
        <div class="weight-bold-text">
          仕事の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"businesses-text", id:"business-info", placeholder:"職場の説明（必須 1,000文字まで）(体験の特徴、体験先について) ITを活用したイチゴ栽培が特徴です！ 山と川に囲まれた自然豊かな環境！" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /仕事名と内容紹介%>
    <%# 仕事詳細%>
    <div class="businesses-detail">
      <div class="weight-bold-text">仕事の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
        カテゴリー
        <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :category, {}, {class:"select-box", id:"business-category"}) %>
        <div class="weight-bold-text">
        都道府県
        <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
      </div>
    </div>
    <%# /仕事詳細%>
    <%# 販売価格%>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格<br>(¥300〜9,999,999)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"business-price", placeholder:"例）300" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
        </div>
        </span>
      </div>
    </div>
    <%# /販売価格%>

    <%# 下部ボタン%>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', business_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン%>
  </div>
  <%end%>

  <footer class="business-new-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('logo.png' , size: '185x50'), "/" %>
  </footer>

</div>