<%= render "shared/header" %>

<div class='main'>

  <%# 画面上部写真部分%>
  <div class='title-contents'>
  <%= video_tag("/videos/production ID_4957770.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>
    <div class="wrap">
    <div class="wrap slide-paused" ontouchstart="">
      <ul class="slideshow">
        <li class="content content-hover"><%= link_to image_tag("621763_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("3665067_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("1341441_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("22882887_s.jpg", size: "300x200"), "/" %><br>sample</li>
      </ul>
      <ul class="slideshow">
        <li class="content content-hover"><%= link_to image_tag("621763_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("1341441_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("3665067_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("22882887_s.jpg", size: "300x200"), "/" %><br>sample</li>
      </ul>
      <ul class="slideshow">
        <li class="content content-hover"><%= link_to image_tag("621763_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("1341441_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("3665067_s.jpg", size: "300x200"), "/" %><br>sample</li>
        <li class="content content-hover"><%= link_to image_tag("22882887_s.jpg", size: "300x200"), "/" %><br>sample</li>
      </ul>
    </div>
  </div>
  <%# /画面上部写真部分%>

  <%# 体験一覧%>
  <div class='experience-contents'>
    <h2 class='title'>体験一覧</h2>
    <ul class='experience-lists'>
      <% @businesses.each do |business|%>
      <li class='list'>
        <%= link_to business_path(business.id) do %>
          <div class='business-img-content'>
            <%= image_tag business.images[0], class: "business-img" %>

          </div>
          <% end %>
          <div class='business-info'>
            <h3 class='business-name'>
              <%= business.name %>
            </h3>
            <div class='business-price'>
              <span>  体験料  <%= business.price %>円<br><%= business.prefecture.name %></span>
              <div class='star-btn'>
              <% if user_signed_in? %>
                <% if business.favorited?(current_user) %>
                  <%= link_to business_favorites_path(id: business.id, business_id: business.id), method: :delete do %>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'><%= business.favorites.count %></span>
                  <% end %>
                <% else %>
                  <%= link_to business_favorites_path(id: business.id, business_id: business.id), method: :post do %>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'><%= business.favorites.count %></span>
                  <% end %>
                <% end %>
              <% else %>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'><%= business.favorites.count %></span>
              <% end %>
              </div>
            </div>
          </div>
      </li>
      <%end%>
    </ul>
  </div>
  <%# /体験一覧%>
</div>
  <%# 下部広告一覧%>
  <%= render "shared/footer" %>
  <%# /下部広告一覧%>