<%= render "shared/header" %>

<%# 詳細画面%>
<div class="business-show">
  <div class="business-box">
    <h2 class="company">
      <%= @business.company%>
    </h2>
    <div class="business-img-content">
      <%= image_tag @business.images[0] ,class:"business-box-img"%>
      <div class="other-images">
        <% @business.images[1..-1].each do |image| %>
          <div class="other-image">
            <%= image_tag image %>
          </div>
        <%end%>
      </div>
    </div>
    <div class="business-price-box">
      <span class="business-price">
        ¥ <%= @business.price %>
      </span>
      <span class="business-name">
        <%= @business.name %>
      </span>
    </div>

    <div class="business-explain-box">
      <span><%= @business.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
      <span class="underline-before"></span>
        <tr>
          <th class="detail-business">掲載者</th>
          <td class="detail-value"><%= @business.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-business">カテゴリー</th>
          <td class="detail-value"><%= @business.category.category %></td>
        </tr><tr>
          <th class="detail-business">都道府県</th>
          <td class="detail-value"><%= @business.prefecture.name %></td>
        </tr>
      </span>
      </tbody>
      </table>
    <div class="option">
      <div class="favorite-btn">
      <% if user_signed_in?%>
        <% if @business.favorited?(current_user) %>
        <%= link_to business_favorites_path(@business.id), method: :delete do %>
          <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"30",height:"30"%>
          <span>お気に入り<%= @business.favorites.count %></span>
          <% end %>
        <% else %>
        <%= link_to business_favorites_path(@business.id), method: :post do %>
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"30",height:"30"%>
          <span>お気に入り<%= @business.favorites.count %></span>
          <% end %>
        <% end %>
      <% else %>
      <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"30",height:"30"%>
      <span>お気に入り<%= @business.favorites.count %></span>
      <% end %>
      </div>
    </div>
    <% if user_signed_in? && @business.order == nil %>
      <%if current_user.id == @business.user.id %>
        <%= link_to "編集", edit_business_path, method: :get, class: "business-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", business_path(@business.id), method: :delete, class: "business-destroy" %>
    <%else%>
        <%= link_to "体験してみる", business_orders_path(@business), class: "business-red-btn" %>
      <%end%>
    <%end%>
  </div>

  <%# /詳細画面%>

  <div id="comments">
  <h4>＜コメント一覧＞</h4>
    <% @business.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= comment.user.nickname %>： </p>
        <p><%= comment.text%></p>
      </div>
    <% end %>
</div>

  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with model: [@business, @comment], id: "comment-form" do |f| %>
        <%= f.text_area :text , class: "comment-text"%>
        <%= f.submit "コメントをする", class: "comment-submit" %>
      <% end %>
    <% end %>
  </div>

  <a href="#" class="another-item"><%= @business.category.category %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
