<%= render "shared/second-header"%>
<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="Account__info">
    <h2>ユーザー情報</h2>
  </div>
  <div class="contents-row">
  <p><%= @nickname %>さんの掲載一覧</p>
  <ul class='business-lists' id="detailed-search-result">
    <% @businesses.each do |business| %>
      <li class='list'>
        <div class="posted-content">
        <%= link_to business_path(business.id) do %>
          <%= image_tag business.images[0], class: "business-img" %><br>
          <%= business.name%>
        <%end%>
        </div>
      </li>
    <% end %>
  </ul>
</div>